CLOUDINARY_CLOUD_NAME=dgbummyso
CLOUDINARY_API_KEY=238365593297313
CLOUDINARY_API_SECRET=psYvkLflryOQzF134aiK0dF6xEY

SUPABASE_URL=https://gcjyamgmthdpmzdbdnxk.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdjanlhbWdtdGhkcG16ZGJkbnhrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk3NDEwODIsImV4cCI6MjA5NTMxNzA4Mn0.k2k0-UBVPnqoGSaFYfYmS6IygsaPrNby_clwJ77rYbE

ADMIN_SECRET=pradeep123
PORT=3001
